In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('simple_kaggle_dataset.csv')

df.head()

   Product_ID     Category  Price  Quantity_Sold  Rating
0           1      Grocery    661             17     2.0
1           2    Furniture   4797             38     4.9
2           3  Electronics   2481             24     2.6
3           4      Grocery   1495              5     4.6
4           5      Grocery   3842             34     3.5

In [10]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     100 non-null    int64
 1   Category       100 non-null    object
 2   Price          100 non-null    int64
 3   Quantity_Sold  100 non-null    int64
 4   Rating         100 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 4.0+ KB

       Product_ID        Price  Quantity_Sold      Rating
count  100.000000   100.000000     100.000000  100.000000
mean    50.500000  2769.850000      24.470000    3.140000
std     29.011492  1255.962083      13.994555    1.176195
min      1.000000   564.000000       1.000000    1.100000
25%     25.750000  1780.250000      13.500000    2.175000
50%     50.500000  2698.500000      24.000000    3.200000
75%     75.250000  3821.000000      35.000000    4.200000
max    100.000000  4993.000000      49.000000    5.000000

In [ ]:
#Faturamento

df['Revenue'] = df['Price'] * df['Quantity_Sold']
df.head

<bound method NDFrame.head of     Product_ID     Category  Price  Quantity_Sold  Rating  Revenue
0            1      Grocery    661             17     2.0    11237
1            2    Furniture   4797             38     4.9   182286
2            3  Electronics   2481             24     2.6    59544
3            4      Grocery   1495              5     4.6     7475
4            5      Grocery   3842             34     3.5   130628
..         ...          ...    ...            ...     ...      ...
95          96     Clothing   3277             33     3.2   108141
96          97     Clothing   2233             48     3.9   107184
97          98    Furniture   4010             12     3.6    48120
98          99     Clothing    702             22     2.1    15444
99         100  Electronics   3755             22     4.8    82610

[100 rows x 6 columns]>

In [13]:
#Faturamento Total
df['Revenue'].sum()

np.int64(6596048)

In [14]:
#Faturamento Total
df.groupby('Category') ['Revenue'].sum().sort_values(ascending=False)

Category
Furniture      2372933
Clothing       1668676
Grocery        1374825
Electronics    1179614
Name: Revenue, dtype: int64

In [15]:
#Quantidade de Vendas por Categoria
df.groupby('Category') ['Quantity_Sold'].sum().sort_values(ascending=False)

Category
Furniture      749
Clothing       667
Grocery        580
Electronics    451
Name: Quantity_Sold, dtype: int64